@font-face {
  font-family: Vikingn;
  src: url(../fonts/vikingn.ttf);
}

* {
  font-family: Vikingn;
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
  
}

.list_menu {
  list-style: none;
}

body{
  background-color: lightgreen;
  width: 100%;
}


.container {
  padding: 40px;
  background-color: lightblue;
  overflow: hidden;
  background-image: url(../img/fondo.jpg);
  background-size: cover;
  
}


/*====
Logo
================*/
.container_logo{
  text-align: center;
}

.container_logo .img_logo {
  width: 40%;
}

/*====
Menu
================*/
.container_menu{
  background-color: #564b41;
  background-size: cover;
  width: 29%;
  border: 2px solid black;
  padding: 30px;
  float: left;
  height: 300px; /*refactor en producción*/
  margin-top: 15px;

}

.list_menu li a{
  font-style: none;
  color: white;
  font-size: 1.4vw;
  line-height: 4vw;
  text-decoration: none;
}

/*====
Imagen personaje
================*/

.container_img{
  width: 69%;  
  float: right;
}

.img_character {
  width: 100%;
  
}



/*====
Slider
================*/

.slider {
  height: 350px; /*refactor en producción*/
  background-color: #ccc;
  clear: both;
  margin-bottom: 30px;
}


footer {
  background-color: #555;
  color: white;
  padding: 15px;

}




