@font-face {
  font-family: Vikingn;
  src: url(../fonts/vikingn.ttf);
}

* {
  font-family: Vikingn;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.list_menu {
  list-style: none;
}

body{
  background-color: lightgreen;
  width: 100%;
}


.container {
  padding: 40px;
  background-color: lightblue;
  overflow: hidden;
  background-image: url(../img/fondo.jpg);
  background-size: cover;
  
}


/*====
Logo
================*/
.container_logo{
  text-align: center;

}

.container_logo .img_logo {
  width: 30%;
}


/*====
Menu
================*/
.container_menu{
  background-color: #564b41;
  background-size: cover;
  width: 29%;
  border: 2px solid black;
  padding: 30px;
  float: left;
  margin-top: 15px;
}

.nav_menu .container_mm{
  display: none;
}

.nav_menu .container_mh{
  display: none;
}

.list_menu li a{
  font-style: none;
  color: white;
  font-size: 1.4vw;
  line-height: 4vw;
  text-decoration: none;
}

.list_menu h4{
  font-weight: normal;  
}

.list_menu a h4:hover{
  background-color: grey;
}


/*====
Imagen personaje
================*/

/* En Home */
.container_play{
  width: 69%;  
  float: right;
}

.container_img_main{
  position: relative;
}

.container_play_button{
  background-color: red;
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s;
}

.img_character {
  width: 100%;
}

/* Animacion del boton play*/
.container_img_main:hover .play_button{
  opacity: 1;
}


/* En FAQ */
.container_img_faq{
  width: 29%;  
  float: left;
}


/*====
Slider
================*/

.slider {
 
  background-color: #564b41;   /*borrar al poner las img originales*/
  clear: both;
  margin-bottom: 30px;
  text-align: center;
}

.img_slider1{
  max-width:100%;
  max-height:100%;

}


/*====
Footer
================*/

footer {
  background-color: #555;
  clear: both;
  color: white;
  padding: 1%;
  font-size: 1.4vw;

}


/*====
FAQ
================*/
.container_faq{
  background-color: #564b41;
  background-size: cover;
  color: white;
  width: 69%;  
  float: right;
  margin-top: 15px;
  line-height: 4vw;
  border: 2px solid black;
  padding: 30px;
}


.container_faq a{
  font-style: none;
  color: white;
  font-size: 1.4vw;
  line-height: 4vw;
  text-decoration: none;
}


.container_faq a h3:hover{
  background-color: grey;
}

.container_faq div {
    display: none;
}

.container_faq div:target {
    display: block;
}


/*=============================================================
Mobile
==============================================================*/

@media only screen and (max-width : 480px) {
  .container{
    padding: 5px;
  }

  .container_menu{
    width: 100%;
    margin-top: 0px;
    background-color: transparent;
  }


  .nav_menu .list_menu{
    display: none;
  }

  .nav_menu .container_mm{
    width: 50%;
    display: block;
    float: left;
  }

  .nav_menu .container_mh{
    width: 49%;
    display: block;
    float: right;
    padding-left: 40%;
    padding-top: 8%;
    
  }

  .nav_menu .container_mh div{
    width: 35px;
    height: 6px;
    background-color: #8e4300;
    margin: 6px 0;
    border: 1px solid black;
  }

  .img_logo_mm {
    width: 150px;
  }

  .container_play{
    width: 100%;
  }
  
  .img_logo{ 
    display: none;
  }

  .slider{
    margin-bottom: 0px;
  }

  .container_faq{
    width: 100%;
  }

  .container_faq a h3{
    font-size: 2vw;
  }

  .container_faq div {
    display: block;
  }

  .container_faq div p{
    font-size: 1.4vw;
    line-height: 4vw;
  }

  .container_img_faq{
    width: 100%;
  }




}


