@font-face {
  font-family: Vikingn;
  src: url(../fonts/vikingn.ttf);
}

* {
  font-family: Vikingn;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.list_menu {
  list-style: none;
}

body{
  
  width: 100%;
}


.container {
  padding: 40px;
  background-color: lightblue;
  overflow: hidden;
  background-image: url(../img/fondo.jpg);
  background-size: cover;
  
}

placeholder{
  font-size: 1.4vw;
}

/*====
Logo
================*/
.container_logo{
  text-align: center;

}

.container_logo .img_logo {
  width: 30%;
}


/*====
Menu
================*/
.container_menu{
  background-color: #564b41;
  background-size: cover;
  width: 29%;
  border: 2px solid #8e4300;
  padding: 20px;
  float: left;
  margin-top: 15px;
}

.nav_menu .container_mm{
  display: none;
}

.nav_menu .container_mh{
  display: none;
}

.list_menu li a{
  font-style: none;
  color: white;
  font-size: 1.4vw;
  line-height: 4vw;
  text-decoration: none;
}

.list_menu h4{
  font-weight: normal;  
}

.list_menu a h4:hover{
  background-color: grey;
}


/*====
Imagen personaje
================*/

/* En Home */
.container_play{
  width: 69%;  
  float: right;
}

.container_img_main{
  position: relative;
}

.container_play_button{
  text-align: center;
  width: 94.5%;
  height: 15%;
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.play_button{
  font-size: 3vw;
}

.img_character {
  width: 100%;
}

/* Animacion del boton play*/
.container_img_main:hover .container_play_button{
  opacity: 1;
}


/* En FAQ */
.container_img_faq{
  width: 29%;  
  float: left;
}

/* En Log In */
.container_img_login{
  width: 29%;  
  float: left;
}


/*====
Slider
================*/

.slider {
 
  background-color: #564b41;   /*borrar al poner las img originales*/
  clear: both;
  margin-bottom: 30px;
  text-align: center;
}

.img_slider1{
  max-width:100%;
  max-height:100%;

}


/*====
Footer
================*/

footer {
  background-color: #555;
  clear: both;
  color: white;
  padding: 1%;
  font-size: 15px;
}

footer p{
  font-family: none;
}

footer a{
  font-family: none;
  color: lightblue;
}


/*====
FAQ
================*/
.container_faq{
  background-color: #564b41;
  background-size: cover;
  color: white;
  width: 69%;  
  float: right;
  margin-top: 15px;
  font-size: 1.4vw;
  line-height: 4vw;
  border: 2px solid black;
  padding: 30px;
}


.container_faq a{
  font-style: none;
  color: white;
  font-size: 1.4vw;
  line-height: 4vw;
  text-decoration: none;
}


.container_faq a h3:hover{
  background-color: grey;
}

.container_faq div {
    display: none;
}

.container_faq div p{
  padding-left: 5%;
}

.container_faq div:target {
    display: block;
}


/*====
Log In
================*/


.container_login{
  background-color: #564b41;
  background-size: cover;
  color: white;
  width: 69%;  
  float: right;
  margin-top: 15px;
  line-height: 4vw;
  border: 2px solid black;
  padding: 30px;
  font-size: 1.4vw;
}

.container_login input, .container_login button{
  font-size: 1.4vw;
}


input[type=text], input[type=password], input[type=email], input[type=date], input[type=username]  {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #c2540a;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.container_form {
    padding: 16px;
}

.container_form2{
  background-color:#f1f1f1
}

span.psw {
    float: right;
    padding-top: 16px;
}

.container_form2 a{
  color: lightblue;
}


/*====
Register
================*/

.container_register{
  background-color: #564b41;
  background-size: cover;
  color: white;
  width: 69%;  
  float: right;
  margin-top: 15px;
  line-height: 4vw;
  border: 2px solid black;
  padding: 30px;
  font-size: 1.4vw;
}

.container_register input{
  font-size: 1.4vw;
}

/*====
Register errors
================*/

.alert {
  background-color: red;
  position: relative;
  top: 0;
  z-index: 1000;
}


/*=============================================================
Mobile
==============================================================*/

@media only screen and (max-width : 480px) {
  .container{
    padding: 5px;
  }

  .container_menu{
    width: 100%;
    margin-top: 0px;
    background-color: transparent;
    font-size: 3vw;
  }


  .container_desplegable .container_menu_list{
    clear: both;
    display: none;
  }

  .container_desplegable div:target{
    display: block;
  }

  .list_menu li a{
  font-size: 4.5vw;
  line-height: 15vw;
}

  .nav_menu .container_mm{
    width: 50%;
    display: block;
    float: left;
  }

  .nav_menu .container_mh{
    width: 49%;
    display: block;
    float: right;
    padding-left: 30%;
    padding-top: 8%;
    
  }

  .nav_menu .container_mh div{
    width: 35px;
    height: 6px;
    background-color: #e9d401;
    margin: 6px 0;
    border: 1px solid #8e4300;
  }

  .img_logo_mm {
    width: 50px;
  }

  .container_play{
    width: 100%;
    text-align: center;
  }

  .container_play_button{
    opacity: 1;
    position: relative;
    width: 100%;
    margin-bottom: 11px;
    top: 0;
    left: 0;
    transform: translate(0,0);
  }
  
  .play_button{
    border:1px #e9d401 solid;
    font-size: 5vw;
  }
  
  .img_logo{ 
    display: none;
  }

  .slider{
    margin-bottom: 0px;
  }

  .container_faq{
    width: 100%;
  }

  .container_faq a h3{
    font-size: 3vw;
  }

  .container_faq div {
    display: block;
  }

  .container_faq div p{
    font-size: 2.5vw;
    line-height: 4vw;
  }

  .container_img_faq{
    width: 100%;
  }

  .container_login{
    width: 100%;
  }

  .container_img_login{
    width: 100%;
  }

  .container_login, .container_login button, input {
    font-size: 3vw;

  }

  .container_register{
    width: 100%;
    font-size: 3vw;
  }

  .container_register input{
  font-size: 2.5vw;
}

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 2.5vw;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    font-size: 2.5vw;
  }
  :-ms-input-placeholder { /* IE 10+ */
    font-size: 2.5vw;
  }

}


